.modal-title{
  font-size: 24px;
  font-weight: 400;
}
.table-header{
    position: relative;
}
.table-header .au-btn-plus{
    bottom: -10px;
    right: 10px;
}
.table-data3 thead tr th:last-child{
  text-align: center !important;
}
.table-data3 tbody tr td:last-child {
  text-align: center !important;
}
.user-img{
  width: 45px;
  height: 44px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/*==== comments sytle ====*/
#post-page .img-post{
    width: 60px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
#post-page textarea{
  font-size: 12px;
  color: #000;
}
.table-data3 tbody td{
  border-bottom: 1px solid #e7e7e7 !important ;
}
#post-page a.category {
    display: inline-block;
    background: #6610f2;
    padding: 2px 8px;
    line-height: 1.5;
    font-size: 12px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff !important;
    margin-right: 10px;
    letter-spacing: .2em;
}
#post-page .post-details img{
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/*==== comments sytle ====*/
.comment-list li {
  padding: 0;
  margin: 0 0 30px 0;
  float: left;
  width: 100%;
  clear: both;
  list-style: none;
}
.comment-list li .vcard {
  width: 80px;
  float: left;
}
.comment-list li .vcard img {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
}
.comment-list li .comment-body {
  float: right;
  width: calc(100% - 80px);
}
.comment-list li .comment-body h3 {
  font-size: 20px;
}
.comment-list li .comment-body .meta {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .1em;
  color: #7f7f7f;
}
/*==== Admin Pagination ====*/
.pagination-container{
    display: table;
    margin: 0 auto;
}
.pagination {
    margin-bottom: 5em;
    text-align: center !important;
    display: block; }
    .pagination li {
      margin-right: 2px;
      margin-bottom: 3px;
      display: inline-block; }
      .pagination li a {
        border-radius: 50% !important;
        width: 40px;
        height: 40px;
        line-height: 40px;
        padding: 0;
        margin: 0;
        display: inline-block;
        text-align: center; }
        .pagination li a:focus, .pagination li a:active {
          -webkit-box-shadow: none !important;
          box-shadow: none !important; }
        .pagination li a:hover {
          background: #6610f2 !important; 
          color: #fff;
          border: 1px solid transparent; }
      .pagination li.active a {
        border: 1px solid transparent !important; }
/*==== custom style Input file  ====*/
.upload-input{
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.upload-input input{
  visibility: hidden;
}
.upload-input label{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #84757d;
  display: block;
  border: 1px solid #4d648d;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  margin-bottom: -30px;
  cursor: pointer;
  margin-top: 10px;
  padding-right: 15px;
}