.comments-header{
    margin-bottom:0px !important;
}
header .blog-brand{
    color: #fff;
    text-align: right;
}
.icon.fa-search{
    cursor: pointer;
}
#contact-page{
    padding-top: 40px;
}
.owl-theme .owl-dots .owl-dot span{
    display: none !important;
}
.owl-theme .owl-nav [class*='owl-'] ,
.owl-theme .owl-nav [class*='owl-'] :hover{
    background-color: transparent !important;
}
.a-block .text .post-meta{
    letter-spacing: 0 !important;
    font-size: 12px !important;
}
.comment-list li .vcard img{
    width: 60px !important;
    height: 60px !important ;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
}
.post-entry-horzontal a .text h2{
    font-size: 28px !important;
}