.comments-header{
    margin-bottom:0px !important;
}
header .blog-brand{
    color: #fff;
    text-align: right;
}
.icon.fa-search{
    cursor: pointer;
}
#contact-page{
    padding-top: 40px;
}
.owl-theme .owl-dots .owl-dot span{
    display: none !important;
}
.owl-theme .owl-nav [class*='owl-'] ,
.owl-theme .owl-nav [class*='owl-'] :hover{
    background-color: transparent !important;
}