.comments-header{
    margin-bottom:0px !important;
}
header .register-links{
    color: #fff !important;
    text-align: right;
}
header .register-links a{
    color: #fff !important;
}
header .register-links a:hover{
    color: #c8adf5 !important;
}
.icon.fa-search{
    cursor: pointer;
}
#contact-page{
    padding-top: 40px;
}
.owl-theme .owl-dots .owl-dot span{
    display: none !important;
}
.owl-theme .owl-nav [class*='owl-'] ,
.owl-theme .owl-nav [class*='owl-'] :hover{
    background-color: transparent !important;
}
.a-block .text .post-meta{
    letter-spacing: 0 !important;
    font-size: 12px !important;
}
.comment-list li .vcard img{
    width: 60px !important;
    height: 60px !important ;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
}
.post-entry-horzontal a .text h2{
    font-size: 28px !important;
}
.category-title{
    border-radius: 4px;
    padding: 2px 6px;
    color: gray;
    background: #f2f2f2;
    display: inline-block;
    cursor: pointer;
}
.category-title:hover{
    color: #fff;
    background: #6610f2;
}
.search-form .form-group{
    overflow: hidden;
}
.fa.fa-search{
    float: right;
    background-color: #fff;
    padding: 5px 7px;
    right: 4px;
}
#search-posts{
    padding-right: 40px;
}
.no-resultes{
    margin: 30px auto;
}
.no-resultes img{
    max-width: 400px
}
.no-resultes > p{
    font-weight: bolder;
    color: #000;
    font-size: 24px;
}
/*===================*/
#notFound-page .notFound-img{
    max-width: 450px ;
}
/*========= Register Modal Style ==========*/
/* Header Button */
.blog-brand > a{
    color: #fff !important;
}
.blog-brand > a:hover{
    color: #b594ee !important;
}
/* modal header */
.register h2{
    margin-top: -20px;
}
.register .modal-header{
    border-bottom: 0px
}
.register .modal-header .close{
    padding: 1rem;
}
.register .close{
    font-size: 2.5rem;
}
/* modal form */
.register form{
    width: 85%;
    margin: 0px auto;
}
.register .wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 30px;
}
.register .label-input100 {
    font-size: 20px;
    color: #000000;
    line-height: 1.5;
    font-weight: 500;
}
.register .input100 {
    font-size: 16px;
    color: #333333;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 55px;
    background: transparent;
    outline: none;
    border: none;
    margin-top: -15px;
}
.register .focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
/* modal social media icons */
.register .flex-c-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    padding-bottom: 30px;
}
.register .login100-social-item {
    font-size: 25px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
}
.register .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.register .bg1 {
    background-color: #3b5998;
}
.register .bg2 {
    background-color: #1da1f2;
}
.register .bg3 {
    background-color: #ea4335;
}
/* Submit Button */
.register .container-login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 40px;
}
.register .wrap-login100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -moz-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -webkit-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -o-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
}
.register .login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #a64bf4;
    background: -webkit-linear-gradient(right, #9e6feb, #6610f2, #9e6feb, #6610f2);
    background: -o-linear-gradient(right, #9e6feb, #6610f2, #9e6feb, #6610f2);
    background: -moz-linear-gradient(right, #9e6feb, #6610f2, #9e6feb, #6610f2);
    background: linear-gradient(right, #9e6feb, #6610f2, #9e6feb, #6610f2);
    top: 0;
    left: -100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.register .login100-form-btn {
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    outline: none !important;
    border: none;
    background: transparent;
}